html,
body{
    height: 100%;
}
.content{
    max-width: 600px;
    height: 100;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.header{
    display: flex;
    gap: 10px;
    margin-left: 30px;
}
.header img {
    width: 60px;
}

.post_form{
    
        padding: 20px 40px;
        border-bottom: 1px solid #ccc;
    
}
.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
.post_form textarea{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
}
.flexbox{
    display: flex;
    gap: 5%;
}
#tweet{
    background-color: #6464fa;
    color: black;
    width: 15%;
}
.cancel{
    text-decoration: none;
    border: black 1px solid;
    padding: 13px 7px 0px 7px;
    height: 4vh;
    background-color: red;
    color: black;
}
.posts ul{
    padding: 0;
}
.posts li{
    position: relative;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 17px;
}
.posts li .logo{
    flex-basis: 15%;
}
.posts li .name_body{
    flex-basis: 85%;

}
.posts li .menu_icon{
    width: 20px;
    position: absolute;
    right: 30px;
    top: 18px;
}
.posts li .menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}
.posts li .menu a{
    text-decoration: none;
}
.posts li img{
   width: 60%;
}
@media screen and (max-width:500px){
    .posts li .name_body .name{
        font-size: 20px;
    }
}